kivymd
pyvts
discord.py
python-dotenv
deep-translator
requests
beautifulsoup4
duckduckgo-search
pytest
pydantic
pymongo
sentence-transformers
numpy
google-generativeai
openai
aiohttp
yt-dlp
pillow
websockets
sounddevice